body {
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    padding: 0;
    height: 100vh;
}

td,
th {
    width: 277px;
    height: 69px;
    font-weight: 400;
}

i {
    font-size: 24px;
    color: #848484;
}

.product-list {
    width: 1192;
    height: 736;
    border-width: 24px 30px 31px 22px;
    border-style: solid;
    border-color: #374765;
    color: #484848;
    box-sizing: border-box;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    vertical-align: middle;
    background-color: #f2f2f2;
    border-collapse: collapse;
}

tr:nth-child(n + 3):nth-child(odd) {
    background-color: #e4e4e4;
}

.button {
    background-color: #efefef;
}

.button th {
    background-color: #dedede;
}
.price{
    background-color: #fafafa;
}
.title {
    vertical-align: middle;
    margin: 0;
    width: 310px;
    height: 156px;
    font-weight: 700;
    background-color: #fafafa;
}

.title p:first-of-type {
    font-size: 18px;
    margin: 0 0 5px 0;
}

.title p:last-of-type {
    font-size: 30px;
    margin: 5px 0 0 0;
}

.pricing-plan td:nth-of-type(1) {
    background-color: #8ac42d;
    color: #ffffff;
    font-size: 24px;
    height: 70px;
}

.pricing-plan td:nth-of-type(2) {
    background-color: #f04a56;
    color: #ffffff;
    font-size: 30px;
    height: 70px;
}

.pricing-plan td:nth-of-type(3) {
    background-color: #1a817d;
    color: #ffffff;
    font-size: 24px;
    height: 70px;
}

.price td span:nth-child(1) {
    font-size: 60px;
    font-weight: 700;
}

.price td span:nth-child(2) {
    font-size: 24px;
    font-weight: 700;
}

.price td span:nth-child(3) {
    font-size: 18px;
    font-weight: 400;
}

.butt {
    box-sizing: border-box;
    margin: 0 auto;
    color: #ffffff;
    border-radius: 5px;
    background-color: #484848;
    border-bottom: 7px solid #404040;
    width: 192px;
    height: 49px;
    line-height: 49px;
}

.butt:hover {
    cursor: pointer;
    border: none;
    box-shadow: 
}

.green {
    background-color: #8ac42d;
    border-bottom: 7px solid #79b027;
}

.red {
    background-color: #f04a56;
    border-bottom: 7px solid #df3a46;
}

.xz {
    background-color: #20807c;
    border-bottom: 7px solid #16736f;
}

.price td span:nth-child(2) {
    position: relative;
    bottom: 25px;    
}
.price td span:nth-child(3) {
    position: relative;
    right: 33px;
    bottom: 5px;
}
tr td:nth-of-type(1){
    box-shadow: inset -5px 0 5px -5px rgba(0, 0, 0, 0.27),inset 5px 0 5px -5px rgba(0, 0, 0, 0.27);
}
tr td:nth-of-type(2){
    box-shadow: inset -5px 0 5px -5px rgba(0, 0, 0, 0.27);
}