@font-face {
    font-family: 'Akyla matata';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/arimo-v11-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Arimo Regular'), local('Arimo-Regular'),
    url('../fonts/arimo-v11-latin-regular.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/arimo-v11-latin-regular.woff2') format('woff2'),
    url('../fonts/arimo-v11-latin-regular.woff') format('woff'), 
    url('../fonts/arimo-v11-latin-regular.ttf') format('truetype'),
    url('../fonts/arimo-v11-latin-regular.svg#Arimo') format('svg');
}

body {
    font-family: 'Akyla matata', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    padding: 0;
    height: 100vh;
}

td {
    width: 157px;
    height: 166px;
    font-weight: 400;
}

i {
    font-size: 24px;
    color: #848484;
}

.product-list {
    width: 1197;
    height: 660;
    border-width: 30px 30px 22px 27px;
    border-style: solid;
    border-color: #374765;
    color: #484848;
    box-sizing: border-box;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    vertical-align: middle;
    background-color: #f2f2f2;
    border-collapse: collapse;
}

.butt {
    box-sizing: border-box;
    margin: 0 auto;
    color: #ffffff;
    border-radius: 5px;
    background-color: #414141;
    border-bottom: 5px solid #343434;
    width: 144px;
    height: 41px;
    line-height: 41px;
    font-size: 16px;
}

.butt:hover {
    cursor: pointer;
    border: none;
}

td:nth-child(even) {
    background-color: #e3e3e3;
}

.pricing-plan {
    font-size: 20px;
    font-weight: 700;
}

.title {
    font-weight: 700;
    background-color: #fafafa;
    width: 198px;
    height: 112px;
}

.pricing-plan td {
    height: 112px;
}

.title p:first-of-type {
    font-size: 14px;
    margin: 0 0 5px 0;
}

.title p:last-of-type {
    font-size: 20px;
    margin: 5px 0 0 0;
}

.standart th {
    font-size: 24px;
    background-color: #89c331;
    color: #ffffff;
}

.ultimate th {
    font-size: 24px;
    background-color: #f04a56;
    color: #ffffff;
}

.premium th {
    font-size: 24px;
    background-color: #20807c;
    color: #ffffff;
}

th span:nth-of-type(1) {
    font-size: 36px;
    font-weight: 700;
}

th span:nth-of-type(2) {
    font-size: 18px;
    font-weight: 700;
    position: relative;
    bottom: 13px;
}

th span:nth-of-type(3) {
    font-size: 14px;
    font-weight: 700;
    position: relative;
    bottom: 5px;
}

td:nth-of-type(n) {
    box-shadow: inset 0 -5px 5px -5px rgba(0, 0, 0, 0.27);
}
